.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
	background-color: unset;
}

.ui-mobile .ui-page-active{
	width: auto;
}

body{
	width: auto;
	height: auto;
}

@media screen and (orientation:portrait) {
	body{
		background-image: url('../images/portrait.png');
		background-position: top center;
		background-repeat: no-repeat;

	}
	div{
		display: none;
	}
}

@media screen and (orientation:landscape) {

	#waiting img{
		width: 100%;
		max-height: 480px;
	}

	#background{
		width: auto;
		height: auto;
		min-width: 760px;
		min-height: 480px;
		background-image: url('../images/background.jpg');
		background-size: contain;
		background-repeat: no-repeat;
	}

	.cover{
		position: relative;
		top: 10px;
		width: 300px;
		margin: 0 auto;
		text-align: center;
		border:solid 1px #e0e0e0;
/*		background-color: rgba(255,255,255,0.7);*/
		z-index: 9;
	}

	.cover img{
		width: 100%;
	}

	#bubble1{
		background-image: url('../images/bubble-sprite.png');
		background-size: 250%;
		background-position: 0px 0px;
		height: 80px;
		width: 80px;
		position: absolute;
		left: 50px;
		top: 50px;
	}

	#bubble2{
		background-image: url('../images/bubble-sprite.png');
		background-size: 250%;
		background-position: 0px 60px;
		height: 50px;
		width: 80px;
		position: absolute;
		left: 175px;
		top: 250px;
	}

	#bubble3{
		background-image: url('../images/bubble-sprite.png');
		background-size: 250%;
		background-position: 75px 75px;
		height: 80px;
		width: 80px;
		position: absolute;
		left: 600px;
		top: 100px;
	}

	#bubble4{
		background-image: url('../images/bubble-sprite.png');
		background-size: 250%;
		background-position: 75px 0px;
		height: 80px;
		width: 80px;
		position: absolute;
		left: 400px;
		top: 280px;
	}

	#point1{
		background-image: url('../images/sprite.png');
		background-size: 250%;
		background-position: 0px 0px;
		height: 80px;
		width: 80px;
		position: absolute;
		left: 125px;
		top: 100px;
		opacity: 0.8;

	}
	#point2{
		background-image: url('../images/sprite.png');
		background-size: 250%;
		background-position: 115px 0px;
		height: 120px;
		width: 100px;
		position: absolute;
		left: 100px;
		top: 240px;
	}
	#point3{
		background-image: url('../images/sprite.png');
		background-size: 200%;
		background-position: -60px 360px;
		position: absolute;
		height: 100px;
		width: 200px;
		left: 400px;
		top: 75px;
	}
	#point4{
		background-image: url('../images/sprite.png');
		background-size: 175%;
		background-position: -20px 185px;
		position: absolute;
		height: 135px;
		width: 175px;
		left: 300px;
		top: 275px;
	}

	#detail1{
		position: absolute;
		padding: 0px;
		left: 200px;
		top: 100px;
		width: 0px;
		height: 0px;
		overflow: hidden;
		background-image: url("../images/detail1_bg.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	#detail2{
		position: absolute;
		padding: 0px;
		left: 200px;
		top: 225px;
		width: 0px;
		height: 0px;
		overflow: hidden;
		background-image: url("../images/detail2_bg.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	#detail3{
		position: absolute;
		padding: 0px;
		left: 100px;
		top: 100px;
		width: 0px;
		height: 0px;
		overflow: hidden;
		background-image: url("../images/detail3_bg.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	#detail4{
		position: absolute;
		padding: 0px;
		left: 275px;
		top: 25px;
		width: 0px;
		height: 0px;
		background-color: #fff;
		overflow: hidden;
		background-image: url("../images/detail4_bg.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	.detail{
		color: #fff;
		font-size: 12px;
		line-height: 18px;
		text-shadow: none;
	}

	.detail a{
		text-align: right;
		margin-left: 300px;
	}
}


.hide{
	display: none;
}

.show{
	display: block;
}