.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
	background-color: unset;
}

.ui-mobile .ui-page-active{
	width: auto;
}

body{
	width: auto;
	height: auto;
}

@media screen and (orientation:portrait) {
	body{
		background-image: url('../images/portrait.png');
		background-position: top center;
		background-repeat: no-repeat;

	}
	div{
		display: none;
	}
}

@media screen and (orientation:landscape) {

	#background{
		width: auto;
		height: auto;
		min-width: 760px;
		min-height: 480px;
		background-image: url('../images/background.jpg');
		background-size: contain;
		background-repeat: no-repeat;
	}

	.cover{
		position: relative;
		top: 20px;
		width: 500px;
		margin: 0 auto;
		text-align: center;
		background-color: rgba(255,255,255,0.7);
		z-index: 9;
	}

	.cover img{
		width: 100%;
	}

	#point1{
		background-image: url('../images/sprite.png');
		background-size: 175%;
		background-position: 10px 20px;
		height: 150px;
		width: 150px;
		position: absolute;
		left: 100px;
		top: 75px;
		opacity: 0.8;

	}
	#point2{
		background-image: url('../images/sprite.png');
		background-size: 175%;
		background-position: 150px 15px;
		height: 150px;
		width: 150px;
		position: absolute;
		left: 50px;
		top: 225px;
	}
	#point3{
		position: absolute;
		left: 520px;
		top: 300px;
	}
	#point4{
		position: absolute;
		left: 720px;
		top: 220px;
	}

	#detail1{
		position: absolute;
		padding: 0px;
		left: 230px;
		top: 200px;
		width: 0px;
		height: 0px;
		background-color: #fff;
		overflow: hidden;
		background-image: url("../images/detail1_bg.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	#detail2{
		position: absolute;
		padding: 0px;
		left: 310px;
		top: 150px;
		width: 0px;
		height: 0px;
		background-color: #fff;
		overflow: hidden;
		background-image: url("../images/detail1_bg.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	#detail3{
		position: absolute;
		padding: 0px;
		left: 100px;
		top: 200px;
		width: 0px;
		height: 0px;
		background-color: #fff;
		overflow: hidden;
		background-image: url("../images/detail1_bg.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	#detail4{
		position: absolute;
		padding: 0px;
		left: 275px;
		top: 150px;
		width: 0px;
		height: 0px;
		background-color: #fff;
		overflow: hidden;
		background-image: url("../images/detail1_bg.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	.detail{
		color: #fff;
		font-size: 12px;
		line-height: 18px;
		text-shadow: none;
	}

	.detail a{
		text-align: right;
		margin-left: 300px;
	}
}


.hide{
	display: none;
}

.show{
	display: block;
}